

header{
    width:100%; height:auto;
}

#backg{
    width:100%; height:6.1vh;
    background-color:#048195;
    position:absolute; top:0; z-index:1;
}
#backg2{
    width:100%; height:60.5vh;
    background-color:#f6f6f6;
    border-top:1.3px solid lightgray;
    position:absolute; top:15%; z-index: 1;
    display:none;
}
#the_top{
    width:66.7%; height:6.1vh;
    display:flex; justify-content: space-between;
    margin:0 auto;
    background-color:#048195;
    position:relative; z-index: 2;
}

#the_top nav ul{
    height:100%;
    display:flex; align-items: center;
}
    #the_top nav ul li{
        width:6vw;
    }
    #the_top nav ul li:nth-of-type(1):after,
    #the_top nav ul li:nth-of-type(2):after{
        content: "|";
        color:white;
    }
    #the_top nav ul li a{
        font-family: 'Noto Sans KR', sans-serif; font-size:0.7vw;
        color:white; 
        padding-right:14%;
        letter-spacing: -1px;
    }

#the_top_search{
    width:25%;
    display:flex; justify-content: space-evenly; align-items: center;
}
    #the_top_search img{
        width:1.5vw;
        background:linear-gradient(#066877, #094a54);
        padding:1%;
    }
    #topsearch{
        width:12vw; height:46%;
        border:0;
    }

#the_bottom{
    width:66.7%; height:10vh;
    display:flex; justify-content:space-between; align-items: center;
    margin:0 auto;
    font-family: 'Noto Sans KR', sans-serif;
    position:relative;
}
    #logo{
        cursor: pointer;
    }
    #bottom_menu{
        width:50%;
        display:flex; justify-content: center; align-items: center;
    }
    
    #bottom_menu > li{
        width:30%; 
        text-align: center;
        line-height:50px;
        cursor: pointer;
    }
    #bottom_menu > li > a{
        font-family: 'YeolrinGothic-Light'; font-size:1.2vw;  font-weight: 700;
    }
    .court_show{
        height:60vh;
        position:absolute; z-index:2;
        margin:0 auto;
        background-color:#f6f6f6;
        margin-top:1.2%;
        display:none;
    }
    .court_show li{
        text-align: left; 
        padding-left:3%;
    }
    .court_show li a{
        font-family: 'YeolrinGothic-Light'; font-size:0.78vw;
        color:#2c2c2c;
    }
        .court_show li a:hover{
            color:#048195; 
            font-weight: bold;
        }
    .court_show li{
        height:auto;
    }
    .court_show li:nth-of-type(1){
        color:#262483;
        font-weight: bold; font-size:1.1vw; font-family: 'YeolrinGothic-Light';
    }
        #cs1{
            width:20%;
            left:0;
            border-right:1px solid lightgray;
        }
        #cs2{
            width:20%;
            left:20.1%;
            border-right:1px solid lightgray;
        }
        #cs3{
            width:20%;
            left:40.2%;
            border-right:1px solid lightgray;
        }
            #cs3 li:nth-of-type(6){
                line-height:15px;
            }
        #cs4{
            width:20%;
            left:60.3%;
            border-right:1px solid lightgray;
        }
        #cs5{
            width:20%;
            left:80.4%;
        }

    
#slider{
    width:100%; height:38vh;
    background-color: #d7d7d7;
    display:flex; justify-content: center;
}
    #one_slide{
        width:52.7%; height:100%;
        display:flex;
    }
    #img_slide{
        width:70%;
        position:relative;
    }
        #slide_box li{
            width:100%;
            position:absolute; top:0; left:0;
        }
        #slide_box li:not(:first-child){
            display:none;
        }
        #change_court_image{
            width:100%; height:38vh;
        }
        #sb1 > p,
        #sb2 > p,
        #sb3 > p,
        #sb4 > p,
        #sb5 > p,
        #sb6 > p,
        #sb7 > p{
            width:98%;
            position:absolute; bottom:1.2%;
            font-family: 'RIDIBatang'; font-size:1.2vw;
            color:white;
            background:rgba(0, 0, 0, 0.5);
            padding:1%;
            display:flex; justify-content: space-between; align-items: center;
        }
        
        #img_slide_text > div{
            width:12%; height:2.5vh;
            display:flex; justify-content: space-evenly; align-items: center;
            background-color:#595959;
            border:1px solid black;
            position:absolute; right:1%; bottom:2.5%;
        }
        #img_slide_text > div > span{
            height:2.5vh;
            line-height:2.5vh;
            font-size:0.8vw; font-family: 'Pretendard-Regular';
            cursor: pointer;
            color:white;
        }
        #img_slide_text > div > span:nth-of-type(1){
            border-right:1px solid #484848;
            padding-right:10%;
        }
        #img_slide_text > div > span:nth-of-type(2){
            border-left:1px solid #484848;
            padding-left:10%;
        }
        #change_court_image_play{
            width:0.7vw;
            cursor: pointer;
        }
    #click{
        width:29%;
        background-color:olive;
        display:flex; flex-flow:row wrap;
    }
        #ele_lig{
            width:50%; height:10vh;
            background-color:#7693dd;
            display:flex; justify-content: center; align-items: center; flex-flow:column;
            cursor:pointer;
        }
        #int_off{
            width:50%; height:10vh;
            background-color:#e3746c;
            display:flex; justify-content: center; align-items: center; flex-flow:column;
            cursor:pointer;
        }
        #ele_fam{
            width:50%; height:10vh;
            background-color:#d08311;
            display:flex; justify-content: center; align-items: center; flex-flow:column;
            cursor:pointer;
        }
        #auction{
            width:50%; height:10vh;
            background-color:#4b9ec5;
            display:flex; justify-content: center; align-items: center; flex-flow:column;
            cursor:pointer;
        }

        #wallet{
            width:50%; height:10vh;
            background-color:#43a276;
            display:flex; justify-content: center; align-items: center; flex-flow:column;
            cursor:pointer;
        }
        #information{
            width:50%; height:10vh;
            background-color:#949494;
            display:flex; justify-content: center; align-items: center; flex-flow:column;
            cursor:pointer;
        }
        #off_squ{
            width:100%; height:8vh;
            background-color:#8a6cb6;
            display:flex; justify-content: center; align-items: center;
            cursor:pointer;
        }
            #off_squ img{
                width:3vw;
            }
            #ele_lig img,
            #int_off img,
            #ele_fam img,
            #wallet img,
            #information img,
            #auction img{
                width:3vw;
                filter:invert(1)
            }
            #ele_lig p,
            #int_off p,
            #ele_fam p,
            #wallet p,
            #information p,
            #auction p,
            #off_squ p{
                font-family: 'NanumBarunGothic'; font-size:0.85vw; font-weight: bold;
                color:white;
            }
            #off_squ p{
                padding-left:5%;
            }
    #two_slide{
        width:14%; height:100%;
        background-color:orangered;
        position:relative;
    }
        #slide2_box li{
            width:100%;
            position:absolute; top:0; left:0;
        }
        #slide2_box li img{
            width:100%; height:38vh;
        }
        #slide2_box li:not(:first-child){
            display:none;
        }
        #two_slide > div{
            width:30%; height:2.5vh;
            display:flex; justify-content: space-evenly; align-items: center;
            background-color:#595959;
            border:1px solid black;
            position:absolute; bottom:1.9%; right:3%;
        }
        #two_slide > div > span{
            height:2.5vh;
            line-height:2.5vh;
            font-size:0.8vw; font-family: 'Pretendard-Regular';
            cursor: pointer;
            color:white;
        }
        #two_slide > div > span:nth-of-type(1){
            border-right:1px solid #484848;
            padding-right:10%;
        }
        #two_slide > div > span:nth-of-type(2){
            border-left:1px solid #484848;
            padding-left:10%;
        }
        #change_court_image_play1{
            width:0.7vw;
            cursor: pointer;
        }
.section{
    width:100%; height:auto;
}

    .news{
        width:100%; height:38vh;
        display:flex; justify-content: center;
    }
    #plus{
        width:1.3vw;
        border:1px solid lightgray;
        margin-right:8%;
        cursor: pointer;
    }
/* 새소식 */
    #o_news{
        width:22.3%; height:100%;
        border-right:1px solid lightgray;
    }
        #news_menu{
            height:8vh;
            display:flex; justify-content: space-between; align-items: center;
        }
        #news_menu p{
            font-family: 'YeolrinGothic-Light'; font-size:1.3vw; font-weight: bold;
            margin-left:2%;
            padding-top:3%;
        }
    #news_infor{
        height:30vh; 
        display: flex; align-items: center;
    }
        #news_infor > div:nth-of-type(1){
            width:70%;
            padding-left:2%;
        }
        #news_infor > div:nth-of-type(2){
            width:20%;
            display:flex; flex-flow:column wrap; align-items: flex-end;
        }
        #news_infor p{
            width:100%; height:4vh;
            overflow:hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color:#555;
            cursor: pointer;
            font-family: 'YeolrinGothic-Light'; font-size:0.8vw;
        }
        #news_infor span{
            height:4vh;
            font-family: 'YeolrinGothic-Light'; font-size:0.7vw;
            color:#555;
        }
/* 우리법원 주요판결 */
    #t_news{
        width:22.3%; height:100%;
        border-right:1px solid lightgray;
    }
        #verdict{
            height:8vh;
            display:flex; justify-content: space-between; align-items: center;
        }
        #verdict p{
            font-family: 'YeolrinGothic-Light'; font-size:1.3vw; font-weight: bold;
            margin-left:2%;
            padding-top:3%;
        }
        #verdict_infor{
            height:30vh;
            display: flex; flex-flow: column; justify-content: center; 
            padding-left: 2%;
        }
        #verdict_infor p{
            width:90%; height:4vh;
            overflow:hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color:#555;
            cursor: pointer;
            font-family: 'YeolrinGothic-Light'; font-size:0.8vw;
        }
/* 나의 사건 검색 */
    #f_news{
        width:22.3%; height:100%;
    }
        #affair{
            height:8vh; 
            display:flex; align-items: center;
        }
        #affair > p > span{
            color: #262483;
        }
        #affair p{
            font-family: 'YeolrinGothic-Light'; font-size:1.3vw; font-weight: bold;
            margin-left:2%;
            padding-top:3%;
        }
        #affair_infor{
            height:30vh;
        }
            #affair_infor > p{
                color:#888;
                font-family: 'NanumBarunGothic'; font-size:0.75vw;
                letter-spacing: -1.5px;
                padding-left:2%; padding-top:5%;
            }
            #ai1{
                height:4vh;
                padding-left:2%;
                line-height:4vh;
            }
            #ai1 > span{
                font-family: 'NanumBarunGothic'; font-size:0.8vw; font-weight: bold;
                color:#555;
                letter-spacing: -1.5px;
            }
                #ai1 > span:nth-of-type(2){
                    font-size:0.75vw;
                    letter-spacing: -1.5px;
                    margin-left:2%;
                }

                #court_select_plus{
                    width:8vw; height:3vh;
                    border: 1px solid #e1e1e1;
                    padding-left:2%;
                    margin-left:0.5%;
                }
                #court_select_plus > option,
                #court_select_s > option{
                    font-family: 'NanumBarunGothic'; font-size:0.8vw; font-size:0.7vw;
                    color:#555;
                    letter-spacing: -1.5px;
                }
            #ai2,
            #ai3{
                height:4vh;
                display:flex; align-items: center;
                padding-left:2%;
                line-height:5vh;
            }
            #ai2 > p,
            #ai3 > p{
                font-family: 'NanumBarunGothic'; font-size:0.8vw; font-weight: bold;
                color:#555;
                letter-spacing: -1.5px;
            }
            #court_select_s{
                width:5vw; height:3vh;
                border: 1px solid #e1e1e1;
                padding-left:2%;
                margin-left:2%;
            }
            #court_select_ss{
                width:5vw; height:3vh;
                border: 1px solid #e1e1e1;
                margin-left:2%;
            }
            #ai3_text{
                width:14vw; height:3vh;
                border: 1px solid #e1e1e1;
                margin-left:2%;
            }

    .commu_court{
        width:100%; height:28vh;
        display:flex; justify-content: center;
        background-color: #f8f8f8;
    }
        #living_court{
            width:22.3%; height:100%;
            display:flex; flex-flow:column; justify-content: center;
            border-right:1px solid lightgray;
        }
        #ictext{
            height:7vh;
            font-family: 'YeolrinGothic-Light'; font-size:1.3vw; font-weight: bold;
            margin-left:2%;
            border-bottom:1px dashed lightgray;
        }
        #ic1,
        #ic2{
            height:6vh;
            font-family: 'YeolrinGothic-Light'; font-size:0.9vw;
            display:flex; align-items: center;
            border-bottom:1px dashed lightgray;
            padding-left:5%;
            cursor: pointer;
        }
        #ic1 p,
        #ic2 p{
            padding-left:5%;
        }
        #ic1 img,
        #ic2 img{
            width:2vw;
        }

    #nation_court{
        width:22.3%; height:100%;
        display:flex; flex-flow:column; justify-content: center;
        border-right:1px solid lightgray;
    }
        #nctext{
            height:7vh;
            font-family: 'YeolrinGothic-Light'; font-size:1.3vw; font-weight: bold;
            margin-left:2%;
            border-bottom:1px dashed lightgray;
        }
        #nc1,
        #nc2{
            height:6vh;
            font-family: 'YeolrinGothic-Light'; font-size:0.9vw;
            display:flex; align-items: center;
            border-bottom:1px dashed lightgray;
            padding-left:5%; 
            cursor: pointer;
        }
        #nc1 p,
        #nc2 p{
            padding-left:5%;
        }
        #nc1 img,
        #nc2 img{
            width:2vw;
        }
    
    #promote_court{
        width:22.3%; height:100%;
        display:flex; flex-flow:column; justify-content: space-evenly; align-items: center;
        border-right:1px solid lightgray;
    }
        #cyber_promoter{
            width:95%; height:8vh;
            display:flex; justify-content: space-between; align-items: center;
            background-color:#32a679;
            cursor: pointer;
        }
            #cyber_promoter p{
                font-family: 'YeolrinGothic-Light'; font-size:1.1vw; font-weight: bold;
                color:white;
                padding-left:5%;
            }
            #cyber_promoter img{
                width:3vw; height:6vh;
                padding-right:5%;
            }
        #kllp{
            width:95%; height:12vh;
            display:flex; justify-content: space-between; align-items: center;
            position:relative;
            background-color:#fea95e;
            cursor: pointer;
        }
            #kllp p{
                font-family: 'YeolrinGothic-Light'; font-size:1.1vw; font-weight: bold;
                color:white;
                padding-left:5%;
                line-height:5vh;
            }
            #kllp img{
                width:3vw; height:6vh;
                padding-right:5%;
            }
            #kllp > div{
                width:60%; height:0.1vh;
                background-color:white;
                position:absolute; left:5%;
            }

    .service{
        width:100%; height:28vh;
        display:flex; justify-content: center; align-items: center;
    }
        #want_court{
            width:22.3%; height:100%;
            display:flex; flex-flow:column; justify-content: center;
            border-right:1px solid lightgray;
        }
            #wc1,
            #wc2,
            #wc3{
                height:8vh;
                display:flex; justify-content: space-between; align-items: center;
                padding-left:3%; padding-right:3%;
            }
                #wc1,
                #wc2{
                    border-bottom:1px dashed lightgray;
                }
            #wc1 button,
            #wc2 button,
            #wc3 button{
                width:5vw; height:4vh;
                background-color:#959595; color:white;
                border:0; border-radius: 3px;
                cursor: pointer;
                font-family: 'Pretendard-Regular'; font-size:0.9vw; 
            }
            #wctext1 p,
            #wctext2 p,
            #wctext3 p{
                font-family: 'YeolrinGothic-Light'; font-size:1.3vw; font-weight: bold;
            }
            #wctext1 p > span,
            #wctext2 p > span,
            #wctext3 p > span{
                color: #262483;
            }
            #wctext1 h5,
            #wctext2 h5,
            #wctext3 h5{
                font-family: 'Pretendard-Regular'; font-size:0.7vw; font-weight: normal;
                color:#656565;
                margin-top:1.2%;
            }

        #ele_complain{
            width:22.3%; height:100%;
            border-right:1px solid lightgray;
        }
            #ectext{
                height:8vh;
                font-family: 'YeolrinGothic-Light'; font-size:1.3vw; font-weight: bold;
                display:flex; align-items: center;
                padding-left:3%; padding-top:2%;
            }
            #ec_box{
                height:15vh;
                display:flex; justify-content: space-evenly;
            }
            #eb1,
            #eb2,
            #eb3{
                width:13vw; height:15vh;
                display:flex; flex-flow:column; justify-content: center; align-items: center;
                cursor: pointer;
            }
                #eb1_img,
                #eb2_img,
                #eb3_img{
                    width:5.5vw; height:10vh;
                    background:#6b91f4;
                    border-radius: 50%;
                    display:flex; align-items: center; justify-content: center;
                }
                #eb1_img img,
                #eb2_img img,
                #eb3_img img{
                    width:3vw; height:6vh;
                }
                #eb1 p,
                #eb2 p,
                #eb3 p{
                    height:4vh;
                    font-family: 'YeolrinGothic-Light'; font-size:1vw;
                    color:#555;
                    text-align: center;
                    padding-top:8%;
                }
                    #eb1 p,
                    #eb3 p{
                        line-height:5vh;
                    }
                    
        #court_service{
            width:22.3%; height:100%;
        }
            #cstext{
                height:6vh;
                font-family: 'YeolrinGothic-Light'; font-size:1.3vw; font-weight: bold;
                display:flex; align-items: center;
                padding-left:3%; padding-top:4.5%;
            }
            #court_service_infor{
                height:19vh;
                display:flex; flex-flow:row wrap;
            }
                #csi1,
                #csi2,
                #csi3,
                #csi4,
                #csi5,
                #csi6{
                    width:50%; height:6vh;
                    display:flex; justify-content: space-between; align-items: center;
                    border-bottom:1px dashed lightgray;
                    cursor: pointer;
                }
                #csi1 p,
                #csi2 p,
                #csi3 p,
                #csi4 p,
                #csi5 p,
                #csi6 p{
                    font-family: 'YeolrinGothic-Light'; font-size:1vw; font-weight: bold;
                    color:#555;
                    padding-left:5%;
                    letter-spacing: -2.5px;
                }
                #csi1 span,
                #csi2 span,
                #csi3 span,
                #csi4 span,
                #csi5 span,
                #csi6 span{
                    width:1.5vw; height:3vh;
                    background-color:#eb5e26; color:white;
                    text-align: center;
                    font-family: 'Pretendard-Regular';
                    line-height:3vh;
                }
    .menu_vowel{
        width:100%; height:10vh;
        display:flex; flex-flow:column; justify-content: center; align-items: center;
        background-color: #475c71;
        border-bottom:1px solid #5c7186;
    }
        #mv1,
        #mv2{
            width:100%; height:3vh;
        }
        #mv1 ul,
        #mv2 ul{
            display:flex; justify-content: center; align-items: center;
        }
        #mv1 ul li,
        #mv2 ul li{
            width:9%;
            line-height:3vh;
        }
        #mv1 ul li a,
        #mv2 ul li a{
            color: #97b3dc;
            font-family: 'YeolrinGothic-Light'; font-size:0.8vw;
        }

    .menu_vowel2{
        width:100%; height:36vh;
        display:flex; justify-content: center; align-items: center;
        overflow: hidden;
        background-color:#475c71;
    }
        #mv2_1,
        #mv2_2,
        #mv2_3,
        #mv2_4,
        #mv2_5{
            width:13.34%; height:100%;
            padding-top:3%;
        }

            #mv2_1 > ul > li:first-child,
            #mv2_2 > ul > li:first-child,
            #mv2_3 > ul > li:first-child,
            #mv2_4 > ul > li:first-child,
            #mv2_5 > ul > li:first-child{
                height:4vh;
                font-family: 'YeolrinGothic-Light'; font-size:1vw;
            }
            #mv2_1 > ul > li,
            #mv2_2 > ul > li,
            #mv2_3 > ul > li,
            #mv2_4 > ul > li,
            #mv2_5 > ul > li{
                height:3vh;
                font-family: 'YeolrinGothic-Light'; font-size:0.7vw;
                color:white;
            }
            #mv2_1 > ul > li a,
            #mv2_2 > ul > li a,
            #mv2_3 > ul > li a,
            #mv2_4 > ul > li a,
            #mv2_5 > ul > li a{
                color:white;
            }
                #mv2_3 > ul > li:nth-of-type(6){
                    height:5vh;
                }
        
footer{
    width:100%; height:15.5vh;
    display:flex; justify-content: center;
    background-color: #232e38;
}
    #foo_logo{
        width:13%;
        padding-top:1.3%;
    }
    #foo_logo img{
        cursor: pointer;
    }
    #personal_infor{
        width:40.7%;
        display: flex; flex-flow: column; justify-content: center;
        color:#c2c2c2;
    }
        #pi1 ul,
        #pi2,
        #pi3{
            width:100%; height:3vh;
            display:flex;
        }
        #pi1 > ul > li:nth-of-type(1) a{
            font-family: 'Pretendard-Regular'; font-weight: bold; font-size:0.8vw;
        }
        #pi1 > ul > li:nth-of-type(1) a{
            color: #00e4ff;
        }
        #pi1 > ul > li > a{
            color: #c2c2c2;
            font-family: 'YeolrinGothic-Light';font-weight: normal; font-size:0.7vw;
        }
        #pi1 ul li{
            width:6vw;
        }
        #pi1 ul li:nth-of-type(1){
            width:7vw;
        }
        #pi1 ul li:nth-of-type(2){
            width:12vw;
        }
        
        #pi2 > p,
        #pi3 > p{
            font-family: 'YeolrinGothic-Light';font-weight: normal; font-size:0.7vw;
            color: #c2c2c2;
        }
        #pi1 > h5{
            font-family: 'YeolrinGothic-Light'; font-weight: normal; font-size:0.7vw;
        }
    #whole_court{
        width:13%;
        display: flex; flex-flow: column; justify-content: center;
    }
        #court_select{
            width:100%; height:5vh;
            display: flex; justify-content: flex-end;
        }
            #csbox{
                width:8vw; height:3vh;
                background: #333338; color:white;
            }
            #move{
                width:2.5vw; height:3vh;
                border:0;
                background: #596470; color: #c2c2c2;
                cursor: pointer;
            }
        #social ul{
            width:100%;
            display:flex; justify-content: flex-end; align-items: center;
        }
        #social ul li{
            width:2vw;
            cursor: pointer;
        }
        #social ul li:nth-of-type(1) img,
        #social ul li:nth-of-type(2) img,
        #social ul li:nth-of-type(3) img{
            width:1.3vw;
            filter:invert(1);
        }
        #social ul li:nth-of-type(1) img{
            width:1.6vw;
        }
        
    