

header{
    width:100%; height:auto;
}

#backg{
    width:100%; height:6.5vh;
    background-color:#048195;
    position:absolute; top:0; z-index:1;
}
#backg2{
    width:100%; height:60vh;
    background-color:#f6f6f6;
    border-top:1.3px solid lightgray;
    position:absolute; top:15%; z-index: 1;
    display:none;
}
#the_top{
    width:66.7%; height:6.5vh;
    display:flex; justify-content: space-between;
    margin:0 auto;
    background-color:#048195;
    position:relative; z-index: 2;
}

#the_top nav ul{
    height:100%;
    display:flex; align-items: center;
}
    #the_top nav ul li{
        width:6vw;
    }
    #the_top nav ul li:nth-of-type(1):after,
    #the_top nav ul li:nth-of-type(2):after{
        content: "|";
        color:white;
    }
    #the_top nav ul li a{
        font-family: 'Noto Sans KR', sans-serif; font-size:0.7vw;
        color:white; 
        padding-right:14%;
    }

#the_top_search{
    width:25%;
    display:flex; justify-content: space-evenly; align-items: center;
}
    #the_top_search img{
        width:1.5vw;
        background:linear-gradient(#066877, #094a54);
        padding:1%;
    }
    #topsearch{
        width:12vw; height:46%;
        border:0;
    }

#the_bottom{
    width:66.7%; height:10vh;
    display:flex; justify-content:space-between; align-items: center;
    margin:0 auto;
    font-family: 'Noto Sans KR', sans-serif;
    position:relative;
}
    #logo{
        cursor: pointer;
    }
    #bottom_menu{
        width:50%;
        display:flex; justify-content: center; align-items: center;
    }
    
    #bottom_menu > li{
        width:30%; 
        text-align: center;
        line-height:40px;
        cursor: pointer;
    }
    #bottom_menu > li > a{
        font-family: 'YeolrinGothic-Light'; font-size:1.2vw;  font-weight: 700;
    }
    .court_show{
        height:60vh;
        position:absolute; z-index:2;
        margin:0 auto;
        background-color:#f6f6f6;
        margin-top:1%;
        display:none;
    }
    .court_show li a{
        font-family: 'YeolrinGothic-Light'; font-size:0.78vw;
        color:#2c2c2c;
    }
        .court_show li a:hover{
            color:#048195; 
            font-weight: bold;
        }
    .court_show li{
        height:auto;
    }
    .court_show li:nth-of-type(1){
        color:#262483;
        font-weight: bold; font-size:1.1vw; font-family: 'YeolrinGothic-Light';
    }
        #cs1{
            width:20%;
            left:0;

        }
        #cs2{
            width:20%;
            left:20%;
        }
        #cs3{
            width:20%;
            left:40%;
        }
        #cs4{
            width:20%;
            left:60%;
        }
        #cs5{
            width:20%;
            left:80%;
        }

    
#slider{
    width:100%; height:38vh;
    background-color: #d7d7d7;
    display:flex; justify-content: center;
}
    #one_slide{
        width:52.7%; height:100%;
        background-color:orange;
        display:flex;
    }
    #img_slide{
        width:70%;
    }
        #img_slide img{
            width:100%; height:38vh;
        }
    #click{
        width:30%;
        background-color:olive;
    }
    #two_slide{
        width:14%; height:100%;
        background-color:orangered;
    }

    